.place__website-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-decoration: underline;
  color: #fff;
  margin: 12px 0 0 0;
  transition: opacity 0.2s linear;
}

.place__website-link:hover {
  opacity: 0.8;
}
